dconf
discord
enchant
evolution
gedit
gnome-control-center
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
Hyper
ibus
nautilus
neofetch
pulse
pulsusgamma-electron
update-notifier
vlc
user-dirs.dirs
gnome-initial-setup-done
user-dirs.locale
.gsd-keyboard.settings-ported
fonts/.uuid
